<input type="hidden" name="econda_application_key" value="">
<script src="/assets/default/js/spryker-yves-econda-main.js"></script>
<input type="hidden" name="econda_product_sku" value="{{ product.sku }}">
<input type="hidden" name="econda_category_name" value="{{ category.name }}">
<div id="econda_widget_container" class="catalog">Loading Econda widget...</div>