<div class="row">
    <div class="small-12 columns">
        <div class="callout">
            <h3>Econda Cross Sell</h3>
            <div class="columns product js-product-container">
                <% for (ip = 0; ip < products.length; ip++) { %>
                <div class="product__container callout">
                    <a href="<%= products[ip].deeplink %>" title="<%= products[ip].name %>" class="thumbnail __preview-image">
                        <img src="<%= products[ip].iconurl %>" alt="<%= products[ip].name %>"/>
                    </a>
                    <p class="__no-margin-bottom"><strong><%= products[ip].name %></strong></p>
                    <p><%= products[ip].price %></p>
                    <div class="product__action">
                        <a class="button expanded" href="<%= products[ip].deeplink %>" tabindex="0">View »</a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>